<nav class="navbar navbar-dark sticky-top py-3 bg-dark flex-row align-items-center flex-md-nowrap p-0 shadow">
  <span class="title">Worker's Flights✈️
  </span>
  <!-- Button that opens the mobile workers overlay -->
  <button class="open-overlay-btn" type="button" *ngIf="isMobileViewport" (click)="openOverlay()">
    <i class="pi pi-align-justify"></i>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav *ngIf="!isMobileViewport" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 sidebar">
      <div class="sidebar-sticky">
        <app-workers-list></app-workers-list>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10">
      <div class="container-fluid">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- Workers menu in a fullscreen overlay -->
<p-sidebar [(visible)]="display" position="bottom" [showCloseIcon]="true" [fullScreen]="true" [baseZIndex]="10000">
  <app-workers-list (closeOverLay)="closeOverlayFunc()"></app-workers-list>
</p-sidebar>
